<div class="create note">
  <h2 class="section_title">Create a note</h2>
  <form action="/create" method="post">
  
    <p class="label">Title</p>
    <input type="text" name="title"><br>
  
    <p class="label">Content</p>
    <TEXTAREA name="content" rows=3 cols=30 ></TEXTAREA>
    <br>
  	<br>
  	<input type="submit" value="Make History">
  
  </form>
</div>