
  <form action="/create" method="post">
  
    <p class="label">Title</p><br>
    
    <input type="text" name="title"><br>
    <p class="label">Content</p><br>
    
    <TEXTAREA name="content" rows=3 cols=30 ></TEXTAREA><br>
  	<input class="btn btn-primary" type="submit" value="Make History">
  
  </form>
