<div class="read note">
  <h2 class="section_title">Read em here</h2>

  <% Note.order("updated_at DESC").each do |note| %>
  	<h3><%= note.title %></h3>
  	<form action="/update" method="get">
  		<input type="hidden" value="<%= note.id %>">
  		<input class="update_link" type="submit" value="Edit">
  	</form>
<!--   	<p><a href="/update/<%= note.id %>">Update</a></p> -->
  	<p><%= note.content %></p>
  <% end %>
</div>
	