<div class="container">
  <h1>Notes on life.</h1>
  <p>Get ready, cause this shit's about to get heavy.</p>

  <div id="create">
    <%= erb :_create %>
  </div>
  <!-- <% if @note_update %> -->
    <div id="update">
      <%= erb :_update %>
    </div>
  <!-- <% end %> -->

  <div id="read">
    <%= erb :_read %>
  </div>
</div>

