<div class="container">
  <h1>Notes on life.</h1>
  <p>Get ready, cause this shit's about to get heavy.</p>

  <div class="create note">
    <%= erb :_create %>
  </div>

  <div hidden class="update note">
    <%= erb :_update %>
  </div>

  <div class="read note">
    <%= erb :_read %>
  </div>
</div>